<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/welcome"></ion-back-button>
      <ion-title>Admin</ion-title> 
      <ion-img src="assets/bus_logo.png" class="header-image"></ion-img> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/welcome"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="login-title">EasyTicketPay</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="login-card-content">
          <ion-img src="assets/admin.png" class="login-image"></ion-img>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">Email</ion-label>
                  <ion-input type="email" [(ngModel)]="email"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">Password</ion-label>
                  <ion-input type="password" [(ngModel)]="password"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-button expand="full" (click)="login()">Login</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content> -->


<ion-content style="--background:rgba(16, 136, 234, 0.8);">
  <ion-button class="back-button" (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Back
  </ion-button>
  <div class="form-container">
    <p class="title">Welcome back</p>
    <form class="form" (submit)="login($event)">
      <input
        type="email"
        class="input"
        placeholder="Email"
        [(ngModel)]="email"
        name="email"
        required
      />
      <input
        type="password"
        class="input"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        required
      />
      <p class="page-link">
        <span class="page-link-label"></span>
      </p>
      <button class="form-btn" type="submit">Log in</button>
    </form>
    <p class="sign-up-label">
     <span class="sign-up-link"></span>
    </p>
    <div class="buttons-container">
      <!-- <div class="apple-login-button">
       
        <span>EasyTicketPay</span>
      </div> -->
      <div class="google-login-button">
        
        <img src="assets/bus_logo.png" alt="EasyTickePay Logo"><img>
      </div>
    </div>
  </div>
</ion-content>
