<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Admin</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <!-- Vehicle Table -->
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Vehicles</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <table class="vehicle">
              <thead>
                <tr>
                  <th>Owner Name</th>
                  <th>Email</th>
                  <th>Transport Number</th>
                  <th>Transport Type</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let vehicle of vehicle | async">
                  <td>{{ vehicle.ownerName }}</td>
                  <td>{{ vehicle.email }}</td>
                  <td>{{ vehicle.transportNumber }}</td>
                  <td>{{ vehicle.transportType }}</td>
                  <td>
                    <ion-button (click)="assignAdmin(vehicle.email)">Assign Admin</ion-button>
                    <ion-button color="danger" (click)="deleteUser(vehicle.email)">Delete</ion-button>
                  </td>
                </tr>
              </tbody>
            </table>
            <p *ngIf="(vehicle | async)?.length === 0">No vehicle data found.</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
